.container {
    background-color: #f8f9fa;
    width: 100%;
    max-width: 100%;
    right: 0;
}

.mat-button {
    padding: 3px;
    margin: 3px;
}

.cart-show {
    display: block;
    position: absolute;
    z-index: 100;
    width: 90%;
}

.cart-hide {
    display: none;
}
