.cart {
    background-color: rgb(255, 255, 255);
    height: fit-content;
    max-height: 350px;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.mat-card {
    border: 1px solid black
}

.mat-divider {
    border-top-color: rgba(0, 0, 0, 0.12);
}

.total-price {
    color: red;
    font-weight: bold;
}

@media only screen and (max-width: 466px) {
     ::ng-deep .mat-icon {
        height: 18px !important;
        width: 18px !important;
        font-size: 18px !important;
    }
     ::ng-deep .mat-icon-button {
        width: 18px !important;
    }
}
