.mat-select {
    background-color: rgb(66, 116, 64);
    width: 100%;
    font-size: 12px;
}

.mat-form-field {
    width: 100%;
}

.mat-option {
    background-color: rgb(24, 73, 43);
}

.container {
    overflow: hidden;
}
