.mat-select {
    background-color: rgb(66, 116, 64);
    width: 100%;
    font-size: 12px;
}

.mat-form-field {
    width: 100%;
}

.mat-option {
    background-color: rgb(66, 116, 64);
}

.container {
    overflow: hidden;
}

.mat-divider {
    border-top-color: black;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: rgb(66, 116, 64) !important;
}

::ng-deep.mat-form-field-underline {
    background-color: rgb(66, 116, 64) !important;
}

::ng-deep.mat-form-field-ripple {
    background-color: rgb(66, 116, 64) !important;
}

::ng-deep .mat-form-field-label {
    color: rgb(66, 116, 64) !important;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: rgb(0, 0, 0);
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(66, 116, 64);
}

.mat-option {
    font-size: 12px;
}

::ng-deep .mat-checkbox-checkmark-path {
    stroke: #ffffff !important;
}
