p {
    color: black;
}

.full-item {
    overflow: hidden;
}

.info-item-category {}

.order-button {
    width: 100%;
}

.mat-raised-button.mat-primary.mat-button-disabled {
    background-color: rgba(255, 0, 0, 0.096);
    color: white
}
