<div class="container ">
    <div class="row m-2">
        <div class="col-sm">
            <p>Przykładowa strona sklepu zrealizowana w Angularze.</p>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm">
            <p>Po stronie administratora funkcjonuje system zarządzania produktami(dodawania, usuwanie, edytowanie), oraz zakupami(przyjmowanie zamówień, realizacja)</p>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm">
            <p>Po stronie użytkownika funkcjonuje między innymi tworzenie konta, zamawianie zakupów, dostęp do stanu przesyłki</p>
        </div>
    </div>
</div>