<div class="alert alert-info" *ngIf="cartItems.length===0">Twój koszyk jest pusty</div>

<div class="container mt-2" *ngIf="cartItems.length>0">
    <div class="row">
        <div class="col text-center">Twoje zakupy!</div>

    </div>
    <mat-divider></mat-divider>
    <div *ngFor="let item of cartItems">
        <div class="row">
            <app-cart-item class="col-8" [cartItem]="item"></app-cart-item>
            <div class="col-4 m-auto">
                <button mat-icon-button color="primary" (click)="quantityPlus(item)"><mat-icon aria-hidden="false" aria-label="plus one icon" >exposure_plus_1</mat-icon></button>
                <button mat-icon-button color="primary" (click)="quantityMinus(item)"><mat-icon aria-hidden="false" aria-label="neg one icon" >exposure_neg_1</mat-icon></button>
                <button mat-icon-button color="primary" (click)="removeItem(item)"><mat-icon aria-hidden="false" aria-label="remove icon" >clear</mat-icon></button>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>

    <div class="active total">
        <strong>Wszystko:</strong>
        <div class="total-price">{{cartTotal|currencyPln}}</div>
        <button mat-button class="pay-button" (click)="payForItems()" *ngIf="user.uid && user.address.name">Zapłać</button>
        <button mat-button class="pay-button" *ngIf="!user.uid" routerLink="/login">Zaloguj, aby kontynuować</button>
        <span *ngIf="user.uid">
            <button mat-button class="pay-button" *ngIf="user.address.name===''" routerLink="/update-data">Uzupełnij dane adresowe</button>
        </span>
    </div>
</div>