@import "_variables.scss";
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: $height-of-footer;
    min-height: 850px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $height-of-footer;
}

.mat-divider {
    border-top-color: rgba(0, 0, 0, 0.096);
    ;
}
