<div id="page-container">
    <div id="content-wrap">
        <app-header>
        </app-header>
        <mat-divider></mat-divider>
        <app-menu-panel></app-menu-panel>
        <mat-divider></mat-divider>
        <app-nav></app-nav>
        <mat-divider></mat-divider>
        <router-outlet></router-outlet>
    </div>
    <div id="goTop" class="m-0 p-0">
        <mat-icon class="m-auto d-block" aria-hidden="false" aria-label="go top">keyboard_arrow_up</mat-icon>
    </div>
    <app-footer id="footer"></app-footer>
</div>
