<app-product-path [categoryLink]="categoryLink" [categoryName]="categoryName"></app-product-path>



<div class="container">
    <div class="row">
        <div class="col-3">
            <div *ngFor="let link of navigation">
                <div [routerLink]=[link[1]] class="category my-1">
                    <p class="m-auto ">{{link[0]}}</p>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div>Sortuj według ceny:</div>
            <button mat-button (click)="sortData('priceDsc')"><mat-icon aria-hidden="false" aria-label="dsc icon" class="m-1">trending_down </mat-icon></button>
            <button mat-button (click)="sortData('priceAsc')"><mat-icon aria-hidden="false" aria-label="asc icon" class="m-1">trending_up </mat-icon></button>
            <div>Sortuj według marki:</div>

            <button mat-button (click)="sortData('brand')">Rosnąco <mat-icon aria-hidden="false" aria-label="sort icon" class="m-1">sort_by_alpha</mat-icon></button>

            <mat-divider class="m-2"></mat-divider>
            <div class="container" *ngIf="productListAll">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let product of obs|async">

                        <app-display-item [product]="product"></app-display-item>

                    </div>
                </div>
            </div>
            <mat-divider class="mt-2"></mat-divider>
            <mat-paginator [pageSize]="3" [pageSizeOptions]="[3, 6, 9, 12]">
            </mat-paginator>
        </div>
    </div>
</div>
