<app-product-path [categoryLink]="categoryLink" [categoryName]="categoryName"></app-product-path>



<div class="container">
    <div class="row">
        <div class="col-3">
            <div *ngFor="let link of navigation">
                <div [routerLink]=[link[1]] class="category my-1">
                    <p class="m-auto ">{{link[0]}}</p>
                </div>
            </div>
        </div>

        <div class="col-9">
            <app-all-products-display [productListAll]="productListAll"></app-all-products-display>
        </div>
    </div>
</div>
