.category {
    left: 0px;
    width: 90%;
    padding-right: 2px;
     :hover {
        transition: 0.4s;
        box-shadow: 4px 4px 2px -2px gray;
    }
}

p {
    cursor: pointer;
    font-size: 14px;
    padding-left: 5px;
}

@media only screen and (max-width: 768px) {
    p {
        cursor: pointer;
        font-size: 11px;
    }
    .category {
        border-bottom: 1px solid black;
    }
}
