<mat-card class="container text-center">
    <form class="" *ngIf="!authService.userData as user" class="form-group">
        <h3>Zaloguj</h3>
        <div>
            <mat-form-field>
                <mat-label>Login</mat-label>
                <input matInput type="text" class="formControl" placeholder="Login" #userName required>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Hasło</mat-label>
                <input matInput type="password" autocomplete="on" class="formControl" placeholder="Hasło" #userPassword required>
            </mat-form-field>
        </div>
        <div>
            <button type="button" class="btn btn-primary m-1" (click)="authService.signIn(userName.value, userPassword.value)">Zaloguj</button>
        </div>
    </form>
    <div *ngIf="!authService.userData as user">
        <button type="button" class="btn btn-danger m-1" (click)="authService.googleAuth()">Zaloguj z Google</button>
    </div>

    <div class="" *ngIf="authService.isLoggedIn">
        <button type="button" class="btn btn-primary m-1" (click)="authService.signOut()">Wyloguj</button>

    </div>
    <div *ngIf="!authService.userData as user">
        <span>Nie masz konta?<span class="btn btn-primary m-1" routerLink="/create-user"> Stwórz konto</span></span>
    </div>
</mat-card>