table {
    width: 100%;
}

td {
    color: white;
    font-weight: 100;
}

th {
    color: white;
}

@media only screen and (max-width: 466px) {
    td {
        font-size: 10px;
    }
    th {
        font-size: 11px;
    }
}
