<div class="container p-0">
    <table mat-table [dataSource]="shoppingHistory" class="mat-elevation-z8">

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Data zakupu </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.date}} </td>
        </ng-container>

        <!-- Purchase quantity Column -->
        <ng-container matColumnDef="purchaseList">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Ilość zakupionych przedmiotów </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.purchaseList.length}} </td>
        </ng-container>

        <!-- total Value Column -->
        <ng-container matColumnDef="totalValue">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Wartość zakupów </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.totalValue|currencyPln}} </td>
        </ng-container>

        <!-- paid status Column -->
        <ng-container matColumnDef="paid">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Status płatności </th>
            <td mat-cell *matCellDef="let element" class="text-center">
                <p *ngIf="element.paid===true">Opłacone</p>
                <p *ngIf="element.paid===false">Nieopłacone</p>
            </td>
        </ng-container>

        <!-- shipping status Column -->
        <ng-container matColumnDef="sent">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Status wysyłki </th>
            <td mat-cell *matCellDef="let element" class="text-center">
                <div *ngIf="element.sent===true">Wysłane
                    <p>{{element.sentDate}}</p>
                </div>
                <div *ngIf="element.sent===false">Niewysłane</div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></tr>
    </table>
</div>