a {
    text-decoration: none;
    color: black;
}

.container {
    padding: 10px;
    padding-top: 15px;
    padding-left: 20px;
}

.item {
    display: inline-flex;
    transform: translateY(-6px);
    a {
        font-size: 15px;
    }
}