<div class="container mx-auto my-3" *ngIf="categoryLink">
    <a routerLink=''>
        <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
    </a>
    <mat-icon aria-hidden="false" aria-label="arrow icon" class="m-1">arrow_forward</mat-icon>
    <div class="item"><a [routerLink]="['/c', categoryLink]" routerLinkActive='active'>{{categoryName}}</a></div>

    <span *ngIf="subCategoryName">
      <mat-icon aria-hidden="false" aria-label="arrow icon" class="m-1" >arrow_forward</mat-icon>
      <div class="item"><a [routerLink]="['/c', categoryLink, subCategoryLink]">{{subCategoryName}}</a></div>
    </span>


    <span *ngIf="itemName">
      <mat-icon aria-hidden="false" aria-label="arrow icon" class="m-1" routerLinkActive='active'>arrow_forward</mat-icon>
      <div class="item">{{itemName}}</div>
    </span>


</div>