a {
    text-decoration: none;
    color: black;
}

.container {
    padding: 10px;
    padding-top: 15px;
    padding-left: 20px;
    border-radius: 20px;
    background-color: #ffffff;
}

.item {
    display: inline-flex;
    transform: translateY(-6px);
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
