<mat-card class="m-3">
    <form [formGroup]="formTemplate" class="form-group" (ngSubmit)="onSubmit(formTemplate.value)">
        <div>
            <mat-form-field>
                <mat-label>Nazwa</mat-label>
                <input matInput required formControlName="nameDisplay" placeholder="nazwa" class="form-control">
                <mat-error *ngIf="formTemplate.get('nameDisplay').invalid">
                    Pole <strong>wymagane</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Opis</mat-label>
                <textarea matInput required formControlName="info" placeholder="opis" class="form-control"></textarea>
                <mat-error *ngIf="formTemplate.get('info').invalid">
                    Pole <strong>wymagane</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Marka</mat-label>
                <input matInput formControlName="company" placeholder="firma" class="form-control">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Cena</mat-label>
                <input matInput formControlName="price" type="number" placeholder="cena" class="form-control">
                <mat-error *ngIf="formTemplate.get('price').touched">
                    <strong>Pole wymagane</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Id</mat-label>
                <input matInput formControlName="id" type="number" placeholder="id" class="form-control">
                <mat-error *ngIf="formTemplate.get('id').hasError('required')">
                    Pole <strong>wymagane</strong>
                </mat-error>
                <mat-error *ngIf="formTemplate.get('id').invalid && formTemplate.get('id').dirty && formTemplate.get('id').value">
                    Tylko <strong>numer</strong>
                </mat-error>
            </mat-form-field>

        </div>
        <div>
            <label for="fileInput">Wybierz plik</label>
            <input type="file" accept="image/*" #fileUploader class="form-control m-2 p-1" id="fileInput" (change)="showPreview($event)">

        </div>
        <div>
            <img [src]="imgSrc" width="300px" height="300px" class="imageDisplay" (click)="fileUploader.click()">
        </div>
        <div>
            <mat-label class="m-3">Kategoria</mat-label>
            <mat-select formControlName="categoryDisplay" required placeholder="Wybierz kategorie" class="form-control select">
                <mat-option *ngFor="let category of categoryList" [value]="category[0]">{{category[0]}}</mat-option>
            </mat-select>
        </div>
        <div>
            <mat-label class="m-3">Podkategoria</mat-label>
            <mat-select formControlName="subCategoryDisplay" required placeholder="Wybierz podkategorie" class="form-control">
                <mat-option *ngFor="let category of subCategoryList" [value]="category[0]">{{category[0]}}</mat-option>
            </mat-select>
        </div>
        <button class="m-3 " mat-stroked-button type="submit()" [disabled]="formTemplate.invalid">Dodaj</button>
    </form>
</mat-card>