<a [routerLink]="['/p', category,subCategory,name, id]">
    <mat-card class=" card m-3">

        <mat-card-header>
            <mat-card-title class="title" [matTooltip]="product.nameDisplay">{{product.nameDisplay}} </mat-card-title>

        </mat-card-header>

        <mat-card-content class="card-content-item ">

            <img class="card-image-item img-fluid d-block mx-auto" mat-card-image [src]="product.imageUrl">
            <p class="price">{{product.price|currencyPln}}</p>

        </mat-card-content>


    </mat-card>
</a>
<button mat-button (click)="handlerAddToCart()" class="cart-button"><mat-icon aria-hidden="false" aria-label="add cart icon" class="" >add_shopping_cart</mat-icon></button>
